@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 56% 96%;
    --foreground: 120 14% 21%;
    --card: 0 0% 100%;
    --card-foreground: 120 14% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 14% 21%;
    --primary: 122 39% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 47% 93%;
    --secondary-foreground: 120 14% 21%;
    --muted: 120 47% 93%;
    --muted-foreground: 120 15% 49%;
    --accent: 120 47% 93%;
    --accent-foreground: 120 14% 21%;
    --destructive: 1 77% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 124 38% 92%;
    --input: 124 38% 92%;
    --ring: 122 39% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 28% 14%;
    --foreground: 120 17% 89%;
    --card: 120 20% 17%;
    --card-foreground: 120 17% 89%;
    --popover: 120 20% 17%;
    --popover-foreground: 120 17% 89%;
    --primary: 122 35% 65%;
    --primary-foreground: 120 28% 14%;
    --secondary: 120 20% 20%;
    --secondary-foreground: 120 17% 89%;
    --muted: 120 20% 20%;
    --muted-foreground: 120 10% 60%;
    --accent: 120 20% 20%;
    --accent-foreground: 120 17% 89%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 120 17% 89%;
    --border: 120 20% 20%;
    --input: 120 20% 20%;
    --ring: 122 35% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
